<section id="" class="micropost_template section">
  <div class="template__inner inner">
    <h2 class="section-title_template">テンプレートの作成</h2>
      <%= form_with model: @template, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
          <div class="form_template_input">
            <%= f.label :テンプレート %>
            <%= f.text_field :content, class:"form-template" %>
          </div>
          <div class="template_btn_area">
            <%= f.submit "登録する", class: "btn_base_template" %>
          </div>
      <% end %>
  </div>
</section>