<section id="" class="diary_catalog section">
	 <div class="diary__inner inner">
     <h2 class="section-title_diary">下書きフォルダ</h2>
      <div class="timeline_area">
                <% @diaries.each do |diary| %>
                <div class="timeline_diaries">     
                    <div class="timeline_image_name">
                      <%= link_to image_tag(@user.profile_image.url, class:'icon2 user_image'), "/users/#{@user.id}"%>
                      <p class="diary_name"><%= @user.name %></p>
                      <p class="diary_time"><%= diary.created_at.strftime('%m月%d日%H:%M')%><br>
                    </div>
                  <div class="timeline_content_show">
                    <p class="diary-text"><a href="/diaries/<%= diary.id %>"><%= diary.content %></a></p> 
                    <p class="diary_delete"><% if current_user?(diary.user) %>
                    <%= link_to "削除", diary, method: :delete,
                                                    data: { confirm: "日記を削除しますか?" } %></p>   
                  </div>
                   <% end %>   
                </div>  
          <% end %>
      </div>
   </div>
</section>
<%= paginate @diaries %>
