<section id="" class="diary_edit section">
	 <div class="diary__inner inner">
      <h2 class="section-title_diary">日記編集画面</h2>
        <div class="timeline_area">
          <div class="timeline_diary">
              <div class="timeline_frame">
                <%= form_for(@diary, url: diary_path(@diary)) do |f| %>
                <div class="diary_edit_title">
                    <%= f.label :タイトル %><br>
                    <%= f.text_field :title, autofocus: true, :placeholder =>"#{@diary.title}", class: 'form_diary_title'%>
                </div>
                <div class="diary_edit_text">
                    <%= f.label :本文 %><br>
                    <%= f.text_area :content, :placeholder =>"#{@diary.content}", class: 'form_diary_content'%>
                </div>

                <div class="diary_image_category">
                    <div class="diary_edit_category">
                        <%= f.label :カテゴリー %><br>
                        <%= f.collection_select :category_id, Category.all, :id, :name, class: 'form_diary_category'%>        
                    </div>
                    <div class="diary_edit_image">
                        <%= f.label :画像 %><br>
                        <%= f.file_field :diary_image %>
                        <%= image_tag(@diary.diary_image.url, class:'form_diary_image') if @diary.diary_image? %>
                        <%= f.hidden_field :diary_image_cache %>
                    </div>
                </div>
            <div class="btn_diary_edit"> 
               <div class="btn_diary_draft">   
                 <%= f.select :status, Diary.statuses.map { |k, v| [t("diary.status.#{k}"), k] }, selected: @diary.status %>
               </div>
                <%= f.submit "更新する" , class: "btn_base_update text-center"%>
            </div>
            <% end %>
          </div>
       </div>
   </div>
</section>