<section id="" class="diary_show section">
  <div class="diary__inner inner">
  <h2 class="section-title_diary">日記詳細</h2>
    <%= link_to "日記を編集", edit_diary_path, class:"diary_edit_btn" %></p>
      <div class="timeline_area_diary">
        <div class="timeline_image_diary">
          <p><%= link_to image_tag(@diary.user.profile_image.url, class:'icon2_diary_image'), "/users/#{@diary.user.id}" %>
          <p class="diary_name_show"><%= @diary.user.name %></p>
          <p class="diary_time_show"><%= @diary.created_at.strftime('%m月%d日%H:%M')%></p><br>
        </div>
          <p class="diary-title">タイトル:<%= @diary.title %></p>
          <p class="diary-text">本文<br>
          <%= @diary.content %></p> 
              <div class="diary_like_show">
                <p><i class="far fa-smile unlike-btn"></i><%= @diary.likes.count %></p>
                  <% if current_user.already_liked_diary?(@diary) %>
                    <%= link_to diary_like_path(@diary), class: "likes_liked_diary",method: :delete do %>
                      <i class="far fa-smile like-btn"></i>
                    <% end %>
                  <% else %>
                    <%= link_to diary_likes_path(@diary),class: "likes_unliked_diary", method: :post do %>
                      <i class="far fa-smile unlike-btn"></i>
                    <% end %>
                  <% end %>
               </div>
               <div class= "diary_favorite_delte" >
                 <% if !Favorite.exists?(user_id:current_user.id,diary_id:@diary.id) %>
                   <%= link_to "お気に入り",diary_add_path(@diary), class:"btn_base_favorites", method: :post %>
                 <% else %>
                   <%= link_to "お気に入り解除",diary_add_path(@diary), class:"btn_base_favorites", method: :delete %>
                 <% end %>  
                   <% if current_user.id == @diary.user.id %>
                     <p class="diary_show_delete"><%= link_to "日記を削除", @diary, method: :delete,
                                              data: { confirm: "日記を削除しますか?" } %></p><% end %>    
                </div>
               <div>
       </div>  
   </div>
</section>
<div class="diary_category_show">
  <h2 class="section-title_diary">カテゴリー</h2>
    <div class="diary_category_show2">
      <p class="btn_base_category">
        <% if @diary.category.nil? %>
          なし 
        <% else %>
          <%= @diary.category.name%>
        <% end %>
      </p>
    </div>
</div>
<div class="diary_image_show">
  <h2 class="section-title_diary">添付画像</h2>
    <div class="diary_image_show2">
      <%= image_tag @diary.diary_image.url, class: "diary_image_url" if @diary.diary_image? %>
    </div>
</div>
<div class="diary_likes_show">
  <h2 class="section-title_diary">いいねしたユーザー<p><i class="far fa-smile unlike-btn"></i><%= @diary.likes.count %></p></h2>  
    <div class="post_like_show2">
      <% @diary.liked_users.each do |user| %>
        <%= user.name %>
      <% end %>
    </div>
</div>
<h2 class="section-title_diary">コメント一覧<p><i class="far fa-comment comment_count"></i><%= @diary.comments.count %></p></h2>
<%= form_for [@diary, @comment] do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div class="diary_comment_catalog"><%= f.text_field :content %>
    <%= f.hidden_field :diary_id, value:@diary.id %>
  </div>
  <div class="diary_comment_btn">
    <%= f.submit 'コメントする' %>
  </div>
<% end %>
<% @comments.each do |c| %>
  <div class="timeline_area">
    <div class="timeline_diaries">
      <div class="timeline_diary_name">
        <%= link_to image_tag(c.user.profile_image.url, class:'icon2 user_image'), "/users/#{c.user.id}" %>
          <a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
          <%= localize c.created_at %>
      </div>
      <div class="timeline_content">
        <p class="diary-text"><%= c.content %></p>   
          <p class="diary_delete_show"><% if current_user?(c.user) %>
          <%= link_to "削除", diary_comment_path(c.diary.id,c.id), method: :delete,class:'diary_comment_delete',
                                                    data: { confirm: "コメントを削除しますか?" } %></p>    
           </div>
      </div>
          <% end %>
  </div>
<% end %>

