<% provide(:title, 'ユーザー一覧') %>
<section id="" class="users_section">
	 <div class="users__inner inner">
     <h2 class="section-title_users">ユーザー覧</h2>
<%= paginate @users %>
<ul class="users_ul">
  <% @users.each do |user| %>
    <li class="users_list">
      <%= image_tag user.profile_image.thumb100.url, class:'icon_mini' %>
      <%= link_to(user.name, "/users/#{user.id}") %> 
      <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
  </ul>
 <%= paginate @users %>
 </div>
 </section>