<% provide(:title, 'ユーザー一覧') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= image_tag user.profile_image.thumb100.url %>
      <%= link_to(user.name, "/users/#{user.id}") %> 
      <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
  </ul>
  <%= link_to "ホームへ戻る", microposts_path %>

  <%= will_paginate %>