<% provide(:title, '編集内容の確認') %>                                                            
<%= image_tag @user.profile_image.thumb.url %>

<%= form_with(model:@user, local: true, url: {action: 'verification'}, method: :patch) do |f| %>
    <%= @user.profile_image%>
    <%= f.hidden_field :profile_image %>
    <%= f.hidden_field :profile_image_cache %>
    <%= @user.name %>
    <%= f.hidden_field :name %>
    <%= @user.email %>
    <%= f.hidden_field :email %>
    <%= @user.password %>
    <%= f.hidden_field :password %>
    <%= @user.gender %>
    <%= f.hidden_field :gender %>
    <%= @user.birthday %>
    <%= f.hidden_field :birthday %>
    <%= @user.address %>
    <%= f.hidden_field :address %>
    <%= @user.long_teamcare %>
    <%= f.hidden_field :long_teamcare %>
    <%= @user.profile %>
    <%= f.hidden_field :profile %>
    <%= hidden_field_tag :"cache[profile_image]", @user.profile_image.cache_name %>
    <div class="actions">
      <%= f.submit '入力画面に戻る', name:'back' %>
    </div>
    <div class="actions">
      <%= f.submit 'この内容で登録',name:'save' %>
    </div>
<% end %>