<%= link_to "<お手紙一覧に戻る>", rooms_path, class: "" %>
<h4 class="dm_entry">参加者</h4>
<% @entries.each do |e| %>
<h5 class="dm_title"><strong><a href="/users/<%= e.user.id %>"><%= e.user.name%>さん</a></strong></h5>
<% end %>
  <% if @messages.present? %>
 <div class="balloon_l">
 <div class="faceicon">
  <% @messages.each do |m| %>
  <%=link_to image_tag(m.user.profile_image.url, class:'faceicon img') %>
  <p class="says"><strong><%= m.content %></strong>
    <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.name %>さん</a></strong></small></p>
    <% if current_user?(m.user) %>
    <%=link_to '削除', m, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-sm btn-danger dm_delete'%>
    <% end %>
    <hr>
  
  <% end %>
</div>
</div>
<% else %>
  <h3 class="text-center">またメッセージはありません</h3>
<% end %>
</div>
<div class="dm_post">
<%= form_for @message do |f| %>
  <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "投稿する", class: "btn_base_dm" %>
  
<% end %>
</div>

