<section id="" class="micropost_catalog section">
  <div class="micropost__inner inner">
    <h2 class="section-title_post">つぶやき一覧(<%= @category.name%>)</h2>
      <div class="timeline_area">
        <%=render 'shared/micropost_index'%>
      </div>
      <%= paginate @microposts %>
      <h2 class="section-title_post">日記一覧(<%= @category.name%>)</h2>
        <div class="timeline_area">
         <%= render 'shared/diary_index'%>
      </div>
   </div>
</section>
<%= paginate @diaries %>

