<section id="" class="micropost_catalog section">
  <div class="micropost__inner inner">
    <h2 class="section-title_post">つぶやき一覧(<%= @category.name%>)</h2>
      <div class="timeline_area">
        <%= render partial: 'shared/micropost_index', collection: @microposts, as: :micropost %>
      </div>
      <%= paginate @microposts %>
      <h2 class="section-title_post">日記一覧(<%= @category.name%>)</h2>
        <div class="timeline_area">
         <%= render partial: 'shared/diary_index', collection: @diaries, as: :diary %>
      </div>
   </div>
</section>
<%= paginate @diaries %>

