
        <% if logged_in? %>
    <header class="header">
    <div class="header＿inner inner">
      <div class="header＿logo"><img src="/assets/logo_transparent.png" alt=""></div> 
        <ul class="header＿nav">
            <li><a href="/">ホーム</a></li>
            <li><a href="">マイページ</a></li>
            <li><a href="">つぶやき投稿</a></li>
            <li><a href="">日記投稿</a></li>
            <li> <%= link_to "新規登録", signup_path %></li>
            <li> <%= link_to "ログアウト", logout_path,method: :delete %></li>
        </ul>
      </div>
      </header>
        <% else %>
    <header class="header">
    <div class="header＿inner inner">
      <div class="header＿logo"><img src="/assets/logo_transparent.png" alt=""></div> 
        <div class="search">
        <%= render 'layouts/header_search' %>
        </div>
        <ul class="header＿nav">
            <li><a href="/">ホーム</a></li>
            <li> <%= link_to "チームケアとは", about_path %></li>
            <li> <%= link_to "新規登録", signup_path %></li>
            <li> <%= link_to "ログイン", login_path %></li>
            <li> <%= link_to "お問い合わせ", contact_path %></li>
        </ul>
      </div>
    </div>
    </header>
    <%end%>
      